/* Sqoreboard Mobile CSS */
@import "/static/css/mobile_reset.css";


/* Generic CSS */

body,ul, ol, li {
    padding:0;
    margin:0;
    border:0;
}

body {
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}

/* for hiding address bar and pulling content above bottom navigation */
#page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #f00;
}


header {
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    height:70px;
    line-height:35px;
    background-color:#d51875;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
    background-image:-moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    background-image:-o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    padding:0;
    color:#eee;
    font-size:20px;
    text-align:center;
}

header a {
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

/* footer {
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:48px;
    background-color:#222;
    background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
    background-image:-o-linear-gradient(top, #999, #666 2%, #222);
    padding:0;
    border-top:1px solid #444;
} */

#iscroll_wrapper {
    position:absolute; z-index:1;
    top:70px; bottom:0px; left:0;
    width:100%;
    background:#aaa;
    overflow:auto;
}

#content {
    position:absolute;
    z-index:1;
    /* top:100px; bottom:40px; left:0; */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}

#content ol {
    list-style: decimal inside;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

#content li {
    padding:0px 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
}

#myFrame {
    position:absolute;
    top:0; left:0;
}

/* Sqoreboard Header
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-sq-header {
border: 1px 0px 1px 0px solid 		#2A2A2A /*{a-bar-border}*/;
background: 			            #EEEEEE  /*{a-bar-background-color}*/;
color: 					            #ffffff /*{a-bar-color}*/;
font-weight: bold;
text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c /*{a-bar-background-start}*/), to( #111 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(#444 /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(#444 /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* FF3.6 */
background-image:     -ms-linear-gradient(#444 /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* IE10 */
background-image:      -o-linear-gradient(#444 /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Opera 11.10+ */
background-image:         linear-gradient(#444 /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/);
}

.ui-bar-sq-header, 
.ui-bar-sq-header input, 
.ui-bar-sq-header select, 
.ui-bar-sq-header textarea, 
.ui-bar-sq-header button {
font-family: "Times New Roman", serif; /*{global-font-family}*/
}

.ui-bar-sq-header .ui-link-inherit {
color: #fff /*{a-bar-color}*/;
}

.ui-bar-sq-header .ui-link {
color: #7cc4e7 /*{a-bar-link-color}*/;
font-weight: bold;
}

.ui-bar-sq-header .ui-link:hover {
color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-sq-header .ui-link:active {
color: #2489CE /*{a-bar-link-sq-headerctive}*/;
}

.ui-bar-sq-header .ui-link:visited {
color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-body-sq-header,
.ui-dialog.ui-overlay-sq-header {
border: 1px solid 		#2A2A2A /*{a-body-border}*/;
background: 			#222222 /*{a-body-background-color}*/;
color: 					#fff /*{a-body-color}*/;
text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #000 /*{a-body-shadow-color}*/;
font-weight: normal;
background-image: -webkit-gradient(linear, left top, left bottom, from( #666 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
background-image:     -ms-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
background-image:      -o-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
background-image:         linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);	
}
.ui-body-sq-header,
.ui-body-sq-header input,
.ui-body-sq-header select,
.ui-body-sq-header textarea,
.ui-body-sq-header button {
font-family: "Times New Roman", serif; /*{global-font-family}*/
}

.ui-body-sq-header .ui-link-inherit {
color: 	#fff /*{a-body-color}*/;
}

.ui-body-sq-header .ui-link {
color: #2489CE /*{a-body-link-color}*/;
font-weight: bold;
}

.ui-body-sq-header .ui-link:hover {
color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-sq-header .ui-link:active {
color: #2489CE /*{a-body-link-sq-headerctive}*/;
}

.ui-body-sq-header .ui-link:visited {
color: #2489CE /*{a-body-link-visited}*/;
}

.ui-btn-up-sq-header {
border: 1px 0px 1px 0px solid 		#222 /*{a-bup-border}*/;
background: 			#333333 /*{a-bup-background-color}*/;
font-weight: bold;
color: 					#fff /*{a-bup-color}*/;
text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* FF3.6 */
background-image:     -ms-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* IE10 */
background-image:      -o-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Opera 11.10+ */
background-image:         linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/);
}
.ui-btn-up-sq-header a.ui-link-inherit {
color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-sq-header {
border: 1px 0px 1px 0px solid 		#000 /*{a-bhover-border}*/;
background: 			#444444 /*{a-bhover-background-color}*/;
font-weight: bold;
color: 					#fff /*{a-bhover-color}*/;
text-shadow: 0 /*{a-bhover-shadow-x}*/ -1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #000 /*{a-bhover-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #666 /*{a-bhover-background-start}*/), to( #444 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* FF3.6 */
background-image:     -ms-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* IE10 */
background-image:      -o-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
background-image:         linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-sq-header a.ui-link-inherit {
color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-sq-header {
border: 1px 0px 1px 0px solid 		#000 /*{a-bdown-border}*/;
background: 			#3d3d3d /*{a-bdown-background-color}*/;
font-weight: bold;
color: 					#fff /*{a-bdown-color}*/;
text-shadow: 0 /*{a-bdown-shadow-x}*/ -1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #000 /*{a-bdown-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #333 /*{a-bdown-background-start}*/), to( #5a5a5a /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
background-image: -webkit-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
background-image:    -moz-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* FF3.6 */
background-image:     -ms-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* IE10 */
background-image:      -o-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* Opera 11.10+ */
background-image:         linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/);
}
.ui-btn-down-sq-header a.ui-link-inherit {
color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-sq-header,
.ui-btn-hover-sq-header,
.ui-btn-down-sq-header {
font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
text-decoration: none;
}

/* Sqoreboard Page Content
* ------------------------------------------------------------------------ */
.ui-bar-sq-content {
border: 1px solid       #456f9a ;
background:             #5e87b0 ;
color:                  #fff ;
font-weight: bold;
text-shadow: 0  1px  1px  #254f7a ;
background-image: -webkit-gradient(linear, left top, left bottom, from( #81a8ce ), to( #5e87b0 )); 
background-image: -webkit-linear-gradient( #6facd5 , #497bae ); 
background-image:    -moz-linear-gradient( #81a8ce , #5e87b0 ); 
background-image:     -ms-linear-gradient( #81a8ce , #5e87b0 ); 
background-image:      -o-linear-gradient( #81a8ce , #5e87b0 ); 
background-image:         linear-gradient( #81a8ce , #5e87b0 );
}
.ui-bar-sq-content,
.ui-bar-sq-content input,
.ui-bar-sq-content select,
.ui-bar-sq-content textarea,
.ui-bar-sq-content button {
font-family: Helvetica, Arial, sans-serif ;
}
.ui-bar-sq-content .ui-link-inherit {
color:  #fff ;
}
.ui-bar-sq-content .ui-link {
color: #ddf0f8 ;
font-weight: bold;
}
.ui-bar-sq-content .ui-link:hover {
color: #ddf0f8 ;
}
.ui-bar-sq-content .ui-link:active {
color: #ddf0f8 ;
}
.ui-bar-sq-content .ui-link:visited {
color: #ddf0f8 ;
}
.ui-body-sq-content,
.ui-overlay-sq-content {
border: 1px solid       #999 ;
background:             #f3f3f3 ;
color:                  #222222 ;
text-shadow: 0  1px  0  #fff ;
font-weight: normal;
background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd ), to( #ccc )); 
background-image: -webkit-linear-gradient( #ddd , #ccc ); 
background-image:    -moz-linear-gradient( #ddd , #ccc ); 
background-image:     -ms-linear-gradient( #ddd , #ccc ); 
background-image:      -o-linear-gradient( #ddd , #ccc ); 
background-image:         linear-gradient( #ddd , #ccc );
}
.ui-overlay-sq-content {
background-image: none;
border-width: 0;
}
.ui-body-sq-content,
.ui-body-sq-content input,
.ui-body-sq-content select,
.ui-body-sq-content textarea,
.ui-body-sq-content button {
font-family: Helvetica, Arial, sans-serif ;
}
.ui-body-sq-content .ui-link-inherit {
color:  #333333 ;
}
.ui-body-sq-content .ui-link {
color: #2489CE ;
font-weight: bold;
}
.ui-body-sq-content .ui-link:hover {
color: #2489CE ;
}
.ui-body-sq-content .ui-link:active {
color: #2489CE ;
}
.ui-body-sq-content .ui-link:visited {
color: #2489CE ;
}
.ui-btn-up-sq-content {
border: 1px solid       #044062 ;
background:             #396b9e ;
font-weight: bold;
color:                  #fff ;
text-shadow: 0  1px  1px  #044062 ;
background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 ), to( #396b9e )); 
background-image: -webkit-linear-gradient( #5f9cc5 , #396b9e ); 
background-image:    -moz-linear-gradient( #5f9cc5 , #396b9e ); 
background-image:     -ms-linear-gradient( #5f9cc5 , #396b9e ); 
background-image:      -o-linear-gradient( #5f9cc5 , #396b9e ); 
background-image:         linear-gradient( #5f9cc5 , #396b9e );
}
.ui-btn-up-sq-content a.ui-link-inherit {
color:                  #fff ;
}
.ui-btn-hover-sq-content {
border: 1px solid       #00415e ;
background:             #4b88b6 ;
font-weight: bold;
color:                  #fff ;
text-shadow: 0  1px  1px  #014D68 ;
background-image: -webkit-gradient(linear, left top, left bottom, from( #72b0d4 ), to( #4272a4 )); 
background-image: -webkit-linear-gradient( #6facd5 , #4272a4 ); 
background-image:    -moz-linear-gradient( #6facd5 , #4272a4 ); 
background-image:     -ms-linear-gradient( #6facd5 , #4272a4 ); 
background-image:      -o-linear-gradient( #6facd5 , #4272a4 ); 
background-image:         linear-gradient( #6facd5 , #4272a4 );
}
.ui-btn-hover-sq-content a.ui-link-inherit {
color:                  #fff ;
}
.ui-btn-down-sq-content {
border: 1px solid       #225377 ;
background:             #4e89c5 ;
font-weight: bold;
color:                  #fff ;
text-shadow: 0  1px  1px  #225377 ;
background-image: -webkit-gradient(linear, left top, left bottom, from( #396b9e ), to( #295b8e )); 
background-image: -webkit-linear-gradient( #295b8e , #3e79b5 ); 
background-image:    -moz-linear-gradient( #295b8e , #3e79b5 ); 
background-image:     -ms-linear-gradient( #295b8e , #3e79b5 ); 
background-image:      -o-linear-gradient( #295b8e , #3e79b5 ); 
background-image:         linear-gradient( #295b8e , #3e79b5 );
}
.ui-btn-down-sq-content a.ui-link-inherit {
color:                  #fff ;
}
.ui-btn-up-sq-content,
.ui-btn-hover-sq-content,
.ui-btn-down-sq-content {
font-family: Helvetica, Arial, sans-serif ;
text-decoration: none;
}
