/***********************************************************
*
*   App: Scoreboard Mobile
*   Version: 00.02
*   
************************************************************/


/***********************************************************
* COLOR DEFINITIONS
************************************************************/
@black: #000000; // Story Headlines, Story Date Divider, Story Description
@darkGrey: #6d6e71; // Comments, Text
@lightGrey: #a3a3a3; // Likes, Text Field Prompts, Story Buttons
@mysteryColor: #cccccc; // Marketing, Blog, Subtitle
@navy: #002070; // All Links and Clickable Tags
@red: #b20808; // Highlights, Posts, Logo, Splash
@white: #ffffff; // Statistics


/***********************************************************
* SIZE DEFINITIONS (TO EDIT)
************************************************************/
@screenWidth: 320px;
@screenHeight: 480px;

@smallLineHeight: 35px; // Smaller Line Height (Nav)
@normalLineHeight: 44px; // Normal Line Height (Context, LI)
@headerHeight: @smallLineHeight + @normalLineHeight;

@pagePadding: 8px; // Left / Right padding of page content.
@linePadding: 10px; // Padding above and below text on a line.
@bigPadding: 15px; // For Stories

@iconSize: 15px;


/***********************************************************
* FONTS (with help from http://fontsquirrel.com)
************************************************************/
@font-face {
    font-family: 'Helvetica65MediumRegular';
    src: url('fonts/helveticaneue-medium-webfont.eot');
    src: 
        url('fonts/helveticaneue-medium-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('fonts/helveticaneue-medium-webfont.woff')
            format('woff'),
        url('fonts/helveticaneue-medium-webfont.ttf')
            format('truetype'),
        url('fonts/helveticaneue-medium-webfont.svg#Helvetica65MediumRegular')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicCondEighteenBold';
    src: url('fonts/tradegothic-boldcondtwenty-webfont.eot');
    src:
        url('fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('fonts/tradegothic-boldcondtwenty-webfont.woff')
            format('woff'),
        url('fonts/tradegothic-boldcondtwenty-webfont.ttf')
            format('truetype'),
        url('fonts/tradegothic-boldcondtwenty-webfont.svg#TradeGothicCondEighteenBold')
            format('svg');
    font-weight: bold;
    font-style: normal;
}

@bodyFontSize: .9em;
@bigFontSize: 1.2em;
@veryBigFontSize: 1.9em;
@hugeFontSize: 2em;

.headerFont(@fontSize: @veryBigFontSize, @lineHeight: 1em) {
    font-family: 'TradeGothicCondEighteenBold', sans-serif;
    font-size: @fontSize;
    font-weight: bold;
    line-height: @lineHeight; // Screws up vertical alignment.
    text-transform: uppercase;
}

.subheaderFont(@fontSize: @bigFontSize, @lineHeight: 1em) {
    font-family: 'Helvetica65MediumRegular', sans-serif;
    font-size: @fontSize;
    line-height: @lineHeight;
}

.normalFont(@fontSize: @bodyFontSize, @lineHeight: 1em) {
    font-family: 'Helvetica65MediumRegular', sans-serif;
    font-size: @fontSize;
    line-height: @lineHeight;
}

.contrastFont(@fontSize: @biggestFontSize, @lineHeight: 1em) {
    font-family: Georgia, Serif;
    font-size: @fontSize;
    line-height: @lineHeight;
}


/***********************************************************
* TEXT STYLE SETS
************************************************************/
@numOfNavColumns: 2;

.mainHeaderText() {
    .subheaderFont();
    color: @white;
    .emboss-text;
}

.headerText() {
    .headerFont();
    color: @black;
}

.subheaderText() {
    .subheaderFont();
    color: @black;
}

.componentText() {
    .subheaderFont();
    color: @lightGrey;
    //.emboss-text;
}

.clickableText() {
    .normalFont();
    color: @navy;
}

.statisticText() {
    .normalFont();
    color: @white;
}

.textText() {
    .normalFont();
    color: @darkGrey;
}

.altTextText() {
    .normalFont();
    color: @black;
}

.buttonText() {
    .normalFont();
    color: @lightGrey;
}

    
/***********************************************************
* REUSABLE APP-SPECIFIC CLASSES
************************************************************/

/* Allows all objects that exist vertically on a page to create 
the same border. */
.page-border {
    border-left: 2px solid @black;
    border-right: 2px solid @black;
}


/* Add a light drop shadow below a box. */
.drop-box-shadow(
        @hShadow: 0px, 
        @vShadow: 0px, 
        @blur: 2px, 
        @spread: 1px,
        @alpha: .4) {
    .box-shadow(@hShadow, @vShadow, @blur, @spread, @alpha);
}

/* Inner drop shadow. */
.inner-box-shadow(
        @hShadow: 1px,
        @vShadow: 2px,
        @blur: 1px,
        @spread: 0px,
        @alpha: .6) {
    .box-shadow(@hShadow, @vShadow, @blur, @spread, @alpha, inset);
}
    

/* Emboss text slightly. */
.emboss-text {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

/* Header section needs to cut off long text. */
.header-section {
    overflow-y: hidden;
}

.form-element {
    .border-radius(@bigPadding);
    .inner-box-shadow(); 
    padding: 5px @pagePadding;
    background-color: @white;
    border: 1px solid @lightGrey;
}


/***********************************************************
* REUSABLE GENERIC CLASSES
************************************************************/

/* Create columns with no spacing. */
.columns (@number) {
    column-count: @number;
    -webkit-column-count: @number;
    -moz-column-count: @number;
    
    column-rule: 0px;
    -webkit-column-rule: 0px;
    -moz-column-rule: 0px;

    column-gap: 0px;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
}

/* Cross browser border-radius */
.border-radius(@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

/* Hide the content when using the background image for function. */
.hidden-content {
    line-height: 0px; 
    font-size: 0px;
    color: transparent; 
}

/* Add a box shadow. */
.box-shadow(@hShadow, @vShadow, @blur, @spread, @alpha, @inset: ~"") {
    -webkit-box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha)
        @inset;
    -moz-box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha)
        @inset;
    box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha) @inset;
}

/* Use a background-image in a consistent way. */
.background-image-wrapper(
        @width,
        @height,
        @imageSource,
        @backgroundColor,
        @repeat: no-repeat) {
    width: @width;
    height: @height;
    -webkit-background-size: @width @height;
    background: url('/static/images/@{imageSource}') @backgroundColor @repeat;
    // background-attachment: fixed;
}

/* Center the background image in a consistent way. */
.centered-image(@position, @width, @height) {
    .horizontally-centered-image(@position, @width); 
    .vertically-centered-image(@position, @height);
}

.vertically-centered-image(@position, @height) {
    position: @position;
    top: 50%;
    margin-top: -(@height / 2);
}

.horizontally-centered-image(@position, @width) {
    position: @position;
    left: 50%;
    margin-left: -(@width / 2);
}

/* Use counter and counter-li in conjunction to add numbering to lists. */
/* TODO make this into a single item */
.counter {
    counter-reset: item;
}

.counter-li {
    content: counter(item);
    counter-increment: item;
}

.opacity(@value) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    @ieValue: @value * 100;
    filter: alpha(opacity=@ieValue);

    /* Netscape */
    -moz-opacity: @value;

    /* Safari 1.x */
    -khtml-opacity: @value;

    /* Good browsers */
    opacity: @value;
}


/***********************************************************
* IMPORTS
************************************************************/
@import "/static/css/mobile_reset.css";


/***********************************************************
* FRAMEWORK / ELEMENTS BASE
************************************************************/

/* I like this box model better so deal with it. */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    .textText();
    @backgroundTileSize: 10px;
    .background-image-wrapper( 
        @backgroundTileSize,
        @backgroundTileSize,
        'backgroundTile.jpg',
        transparent,
        repeat);
    
    /* stops iPhone from readjusting text size for landscape orientation. */
    -webkit-text-size-adjust: none;
    
    /* Overrides the highlight color shown when the user taps a link or a
    /* JavaScript clickable element in Safari on iPhone. */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    /* -webkit-user-select: none;*/
}

ol, ul {
    margin: 0px;
    padding: 0px;
    
    list-style: none;
    text-align: left;
}

li {
    height: @smallLineHeight;
    line-height: @smallLineHeight;
}

.anchor, .anchor:link, .anchor:visited {
    .clickableText();
    text-decoration: none;
}

.anchor:hover {
    .clickableText();
}

.anchor:active {
    .opacity(0.8);
}


input, button, textarea, select {
    vertical-align: middle;
}

form input {
    .form-element;
    .altTextText();
}

.button {
    .buttonText();
    cursor: pointer;
}


/***********************************************************
* ELEMENT COMPONENTS - NO POSITIONING!!!
************************************************************/
@thumbnailSide: 25px;
@buttonImageSide: 37px;
@submitButtonHeight: 38px;
@submitButtonWidth: 132px;

.thumbnail{
    width: @thumbnailSide;
}

.submit-button {
    .mainHeaderText();
    .border-radius(24px);
    height: @submitButtonHeight;
    width: @submitButtonWidth;
    background-color: @red;
    margin-top: @bigPadding;
    margin-bottom: @bigPadding;
}

.create-button {
    .hidden-content;
    .background-image-wrapper(
            @buttonImageSide,
            @buttonImageSide,
            'createButton.png',
            transparent);
    border: 0px; // to cancel generic button properties
}

.create-button:active {
    .background-image-wrapper(
            @buttonImageSide,
            @buttonImageSide,
            'createButtonPressed.png',
            transparent);
}

.close-button {
    .hidden-content;
    .background-image-wrapper(
            @buttonImageSide,
            @buttonImageSide,
            'cancelButton.png',
            transparent);
    border: 0px;
}

.close-button:active {
    .background-image-wrapper(
            @buttonImageSide,
            @buttonImageSide,
            'cancelButtonPressed.png',
            transparent);
}

@menuButtonWidth: 36px;
@menuButtonHeight: 28px;
.menu-button {
    .hidden-content;
    .background-image-wrapper(
            @menuButtonWidth,
            @menuButtonHeight,
            'menuButton.png',
            transparent);

    border: 0px;
}

@removeTagButtonSide: 19px;
.remove-tag-button {
    .hidden-content;
    .background-image-wrapper(
            @removeTagButtonSide,
            @removeTagButtonSide,
            'removeTagButton.png',
            transparent);

    border: 0px;

    visibility: hidden;
}

.remove-tag-button:active {
    .background-image-wrapper(
            @removeTagButtonSide,
            @removeTagButtonSide,
            'removeTagButtonPressed.png',
            transparent);
}

.anchor.login-anchor {
    .hidden-content;

    display: inline-block;
}

.anchor.facebook-login-anchor {
    .background-image-wrapper(
            280px,
            88px,
            'facebookLoginAnchor.png',
            transparent);
}

.anchor.facebook-login-anchor:active {
    .background-image-wrapper(
            280px,
            88px,
            'facebookLoginAnchorPressed.png',
            transparent);
}

.main-header {
    .header-section;

    .mainHeaderText(); 
    text-align: center;

    width: @screenWidth;
    height: @normalLineHeight;
    line-height: @normalLineHeight;
    vertical-align: middle;
}

.numbered-list {
    .counter;
}

.numbered-list li:before {
    .counter-li;
}

.headed-list {
    width: 100%;
    float: left;
}

.headed-list .list-header {
    color: @lightGrey;
    height: @smallLineHeight - 5px;
    line-height: @smallLineHeight - 5px;
}

.headed-list-item {
    float: left;
    width: 100%;
    border-bottom: 1px dotted @lightGrey;

}
/* .headed-list-item:after {
    content: '';
    width: 100%;
    float: left;
    margin-left: @bigPadding;
    height: 0px;
    border-bottom: 1px dotted @lightGrey;
}*/

// PROBLEMS ABOUND - move to the dialog component if needed
.headed-list-item input {
    width: 100%;
    height: 100%;
}

/* .headed-list-item .list-column:first-child {
    float: left;
    width: 75%;
    text-align: left;
}

.headed-list-item .list-column:last-child {
    float: left;
    width: 20%;
    margin-left: @linePadding;
    text-align: left;
} */

.switch-control {
    height: 28px;
    width: 77px;
    border: 1px solid #979797;
    border-radius: 20px;
    margin-top: -5px;
    box-shadow: inset 0px 1px 3px #BABABA, inset 0px 12px 3px 2px rgba(232, 232, 232, 0.5);
    cursor: pointer;
    overflow: hidden;
}

.switch-control input[type=checkbox] {
    display: none;
}

.switch-control::before {
    content: "";
    display: block;
    height: 28px;
    width: 0px;
    position: absolute;
    border-radius: 20px;
    box-shadow: inset 0px 1px 2px #0063B7, inset 0px 12px 3px 2px rgba(0, 127, 234, 0.5);
    background-color: #64B1F2;
}

.switch-control.switch-on::before {
    width: 77px;
}

.switch-control > .switch-knob {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    top: 0px;
    z-index: 3;
    border: solid 1px #919191;
    border-radius: 28px;
    box-shadow: inset 0px 2px 1px white, inset 0px -2px 1px white;
    background-color: #CECECE;
    background-image: linear-gradient(top, #CECECE, #FBFBFB);
    transition: all 0.125s ease-in-out;
    transform: translate3d(0px, 0px, 0px);
}

.switch-control.switch-on > .switch-knob {
    -webkit-transform: translate3d(50px, 0px, 0px);
    -o-transform: translateX(50px);
    -moz-transform: translateX(50px);
}

.switch-control > .switch-knob::before {
    content: "";
    display: block;
    height: 14px;
    width: 2px;
    background-color: white;
    box-shadow: 0px -1px 1px #666;
    border: none;
    position: absolute;
    top: 6px;
    left: -24px;
}

.switch-control > .switch-knob::after {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: solid 2px #777;
    position: absolute;
    right: -32px;
    top: 6px;
}


/***********************************************************
* Z-INDEX SECTION (Remember POSITION!!!)
************************************************************/
#dialog-container {
    z-index: 20;
}
    
#tab-header, .second-header {
    z-index: 15;
}

#content #summary, #content #feed {
    z-index: 10;    
}

#content #properties {
    z-index: 7;
}

#content-container-wrapper, #content-container {
    z-index: 5;
}

#tab {
    z-index: 2;
}


/***********************************************************
* APP COMPONENTS 
************************************************************/
.headline {
    .headerText;
    padding-top: @linePadding;
    padding-bottom: @linePadding;
    border-bottom: 1px dotted @lightGrey;
}

.subheadline {
    .subheaderText;
    padding-top: @linePadding;
    padding-bottom: @linePadding;
    border-bottom: 1px dotted @lightGrey;
}

.cover-photo {
    width: 100%;
}

.icon {
    width: @iconSize;
    margin-right: @linePadding;
}

.opponent-group-section {
}

.opponent-group {
    float: left;
    width: 50%;
}

.single-opponent-group .thumbnail {
    float: left;
    width: 100%;
}

.multi-opponent-group .thumbnail {
    float: left;
    width: 50%;
}

/***********************************************************
* ISCROLL
************************************************************/
#content-container-wrapper {
    position: absolute; 
    width: 100%;
    top: 0px; 
    bottom: 0px; 
    left: 0px;
    overflow: auto;
}

#content-container {
    position: absolute;
    width: 100%;
}

#dialog-content-wrapper {
    position: absolute;
    width: 100%;
    top: @normalLineHeight;
    bottom: 0px;
    left: 0px;
    overflow: auto;
}

#dialog-content-container {
    position: absolute;
    width: 100%;
}

#dialog-content-container:first-child {
    padding-right:15px;
}


/***********************************************************
* TAB FRAMEWORK
************************************************************/
#tab {
    /* for hiding address bar and pulling content above bottom navigation */
    .textText();
    position: absolute;

    width: @screenWidth;
    height: 100%; 
}

#content {
    margin-top: @headerHeight * 2.75;
}

#content #properties {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
}

#content #summary {
    position: relative;
    
    width: 100%;
    padding-left: @pagePadding;
    padding-right: @pagePadding;
}

#content #feed {
    position: relative;

    width: 100%;
    padding-left: @pagePadding;
    padding-right: @pagePadding;
}


#tab .loading {
    padding-top: @linePadding;
}



/***********************************************************
* TAB HEADER
************************************************************/
.tab-header {
   .background-image-wrapper(
            @screenWidth,
            @normalLineHeight,
            'tabHeaderBar.png',
            transparent);
}

#tab-header div {
    @logoWidth: 78px;
    @logoHeight: 32px;
    .hidden-content;
    .background-image-wrapper(
        @logoWidth,
        @logoHeight,
        'logo.png',
        transparent);

    .centered-image(relative, @logoWidth, @logoHeight);
}

#tab-header {
    position: absolute;
    top: 0px;
    left: 0px;
}

#tab-header .create-button {
    .vertically-centered-image(absolute, @buttonImageSide);
    right: @pagePadding;
}

#tab-header .menu-button {
    .vertically-centered-image(absolute, @menuButtonHeight);

    left: @pagePadding;
}

.second-header {
    .header-section;
    position: relative;
    
    margin-top: @normalLineHeight;
}


#tab nav ul {
    line-height: @smallLineHeight;
    height: @smallLineHeight;
 
    .columns(@numOfNavColumns);
} 

#tab nav li {
    height: @smallLineHeight;
    color: @black;
}

#tab nav li a {
    color: @white;
}


/***********************************************************
* TAB FOOTER 
************************************************************/
/* #tab footer {
    position: absolute;
    bottom: 15px; 
    right: 15px;
} */


/***********************************************************
* TAB COMPONENTS
************************************************************/
.summary-item {
    .drop-box-shadow();
    float: left;
    width: 100%;
    background: @white;
    
    margin-bottom: @linePadding; 
    padding-left: @bigPadding;
    padding-right: @bigPadding;
    padding-bottom: @pagePadding;
}

.rankings-list .list-column {
    text-align: center;
}

.rankings-list .headed-list-item .list-column:nth-child(1) {
    float: left;
    width: 10%;
}
.rankings-list .headed-list-item .list-column:nth-child(2) {
    float: left;
    width: 35%;
    text-align: left;
}

.rankings-list .headed-list-item .list-column:nth-child(n+3) {
    float: right;
    width: 12%;
}

// only header
.rankings-list .list-header .list-column:nth-child(2) {
    margin-left: @bigPadding;
}

// only ranked li
.rankings-list li.headed-list-item {
}

.rankings-list .numbered-list li:before {
    float: left;
    width: @bigPadding;
}

.story {
    .drop-box-shadow();
    float: left;
    width: 100%;
    background: @white;
   
    margin-top: @linePadding;
    margin-bottom: @linePadding;
    padding-bottom: @bigPadding;
}

.story .main-story-section {
    clear: both;
    padding-left: @bigPadding;
    padding-right: @bigPadding;
}

.story .main-story-section div {
    margin-top: @linePadding;
    margin-bottom: @linePadding;
}

/***********************************************************
* TAB SECTION
************************************************************/
@navButtonWidth: 160px;
@navButtonHeight: 35px;

.navButton (@imageSource, @backgroundColor) {
    .hidden-content;
    .background-image-wrapper(
            @navButtonWidth,
            @navButtonHeight,
            @imageSource,
            @backgroundColor);
    display: block;
}


/***********************************************************
* GAMES TAB SECTION
************************************************************/
.anchor.games.active-nav {
    .navButton('gamesPressed.jpg', @white);
}

.anchor.games {
    .navButton('gamesUnpressed.jpg', @white);
}


/***********************************************************
* RANKINGS TAB SECTION
************************************************************/
.anchor.rankings.active-nav {
    .navButton('rankingsPressed.jpg', @white);
}

.anchor.rankings {
    .navButton('rankingsUnpressed.jpg', @white);
}


/***********************************************************
* DIALOG
************************************************************/
#dialog-container {
    position: absolute;
    height: 100%;

    background-color: @white;
    
}

.dialog {
    .textText();
    height: 100%;
    display: table;

}

.dialog-header {
    background-color: @red;
    // apply gradient
}

.dialog-header .close-button {
    //.vertically-centered-image(absolute, @buttonImageSide);
    //right: @pagePadding;
    position: absolute;
    right: 8px;
    top: 4px;
}

.dialog-content {
    height: 100%;
    padding: @pagePadding;

    text-align: center;
}

// needed?
.post-button-wrapper {
    position: absolute;
    bottom: @pagePadding;
    left: 0px;
    width: 100%;
}


.autocomplete-players {
    text-align: center;
}

.autocomplete-players input[type='text'] {
    margin-left: @pagePadding;
    margin-right: @pagePadding;
    width: 75%;
}

.autocomplete-players .remove-tag-button {
}

.autocomplete-players .ui-menu-item-with-thumbnail .thumbnail {
    margin-right: @linePadding;
    margin-top: -3px;
}

/***********************************************************
* CREATE GAME DIALOG
************************************************************/
.game-type {
    .subheadline;
}

.game-type-label {
    .componentText;
}

.game-type-switch {
}

.opponent-tags-group {
    display: none;
}

/***********************************************************
* GENERIC PAGE
************************************************************/
.login-anchor-wrapper {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
}

/***********************************************************
* LANDING PAGE
************************************************************/
#landing {
    .background-image-wrapper(
           @screenWidth,
           @screenHeight,
           'splash.jpg',
           @black);

    position: absolute;
    text-align: center;
}


/***********************************************************
* AUTOCOMPLETE JQUERY PLUGIN COMPONENT
*
* .ui-autocomplete-input
* .ui-autocomplete, .ui-menu
* .ui-menu-item
*
************************************************************/
.ui-autocomplete {
    position: absolute;
    width: 73%;
    height: 40%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    background-color: @white;
    border: 1px solid @darkGrey;
    border-radius: 12px;
    padding: @bigPadding;
}

.ui-menu-item {
}

.ui-menu-item {
    cursor: pointer;
    border-top: 1px dotted @darkGrey;
}

.ui-menu-item:hover, .ui-menu-item:active {
    background-color: @lightGrey;
}

.ui-menu-item a {
    .altTextText;
    width: 100%;
    display: inline-block;
    height: @smallLineHeight;
    line-height: @smallLineHeight;
}


