/***********************************************************
*
*   App: Sqoreboard Mobile
*   Version: 00.01 
*   
************************************************************/


/***********************************************************
* COLOR DEFINITIONS
************************************************************/
@blue: #61a0bb; 
@darkBlue: #3088b7;

@lightOrange: #ffa054;
@orange: #d17a38;
@darkOrange: #804416;

@white: #ffffff;
@bluishWhite: #efece7;
@grayishWhite: #e6e6e6;
@almostWhite: #fbfcff;

@black: #000000;

@gray: #807d7b;
@darkGray: #4e4a48;

@beige: #645f53;


/***********************************************************
* SIZE DEFINITIONS
************************************************************/
@screenWidth: 320px;
@screenHeight: 480px;

@innerWidth: 319px; // Width of iPhone screen inside border.
@outerWidth: 324px; // Width of iPhone screen.

@smallLineHeight: 35px; // Smaller Line Height (Nav)
@bigLineHeight: 44px; // Normal Line Height (Context, LI)
@headerHeight: @smallLineHeight + @bigLineHeight;

@pagePadding: 23px; // Left / Right padding of page content.
@linePadding: 10px; // Padding above and below text on a line.


/***********************************************************
* FONTS
************************************************************/
@font-face {
    font-family: CronosProSemibold;
    src: url('fonts/CronosPro-Semibold.otf');
}

@font-face {
    /* Currently this is always italicized and above the line. */
    font-family: Eurostile;
    src: url('fonts/EurostileLTStd-DemiOblique.otf');
}

@normalFontSize: 1.2em;
@bigFontSize: 1.15em;
@biggestFontSize: 1.2em;


/***********************************************************
* OTHER SETTINGS
************************************************************/
@numOfNavColumns: 2;


/***********************************************************
* REUSABLE APP-SPECIFIC CLASSES
************************************************************/

/* Allows all objects that exist vertically on a page to create 
the same border. */
.page-border {
    border-left: 2px solid @black;
    border-right: 2px solid @black;
}


/* Add a light drop shadow below a box. */
.drop-shadow-box {
    @hShadow: 0px;
    @vShadow: 4px;
    @blur: 15px;
    @spread: 0px;
    @alpha: 1.0;
    -webkit-box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha);
}

/* Emboss text slightly. */
.emboss-text {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}


/***********************************************************
* REUSABLE GENERIC CLASSES
************************************************************/

/* Create columns with no spacing. */
.columns (@number) {
    column-count: @number;
    -webkit-column-count: @number;
    -moz-column-count: @number;
    
    column-rule: 0px;
    -webkit-column-rule: 0px;
    -moz-column-rule: 0px;

    column-gap: 0px;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
}

/* Cross browser border-radius */
.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

/* Hide the content when using the background image for function. */
.hidden-content {
    line-height: 0px; 
    font-size: 0px;
    color: transparent; 
}

/* Header section needs to cut off long text. */
.header-section {
    overflow-y: hidden;
}

/* Use a background-image in a consistent way. */
.background-image-wrapper (@width, @height, @imageSource, @backgroundColor) {
    width: @width;
    height: @height;
    -webkit-background-size: @width @height;
    background: url('/static/images/@{imageSource}') @backgroundColor;
}

/* Use counter and counter-li in conjunction to add numbering to lists. */
/* TODO make this into a single item */
.counter {
    counter-reset: item;
}

.counter-li {
    content: counter(item) " ";
    counter-increment: item;
}

/***********************************************************
* IMPORTS
************************************************************/
@import "/static/css/mobile_reset.css";


/***********************************************************
* FRAMEWORK / ELEMENTS
************************************************************/

/* I like this box model better so deal with it. */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: @darkGray;
    font-family: 'CronosProSemibold', 'Arial', sans-serif;
    font-size: @normalFontSize;
    
    /* stops iPhone from readjusting text size for landscape orientation. */
    -webkit-text-size-adjust: none;
    
    /* Overrides the highlight color shown when the user taps a link or a
    /* JavaScript clickable element in Safari on iPhone. */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    /* -webkit-user-select: none;*/
}

ol, ul {
    margin: 0px;
    padding: 0px;
    
    list-style: none;
    text-align: left;
}

header {
    text-align: center;
}


h2 {
    .emboss-text;
    
    font-family: 'Eurostile', 'Verdana', serif;
    /* Eurostile's vertical-align is too high */
    font-size: @biggestFontSize;
    text-transform: uppercase;
    font-style: italic;
   
    /* Vertically aligns Eurostile */
    @fontAdjust: @bigFontSize / 4;
    padding-top: @fontAdjust; // padding so that font is pushed down
    
}

a, a:link, a:visited {
    text-decoration: none;
    color: @blue;
}

a:hover {
    color: @darkBlue;
}

a:active {
    opacity: 0.8;
}


input, button {
    .border-radius(0px);
   
    background-color: @white;
    border: 1px solid @black;
}


/***********************************************************
* COMPONENTS - NO POSITIONING!!!
************************************************************/
.close-button {
    .hidden-content;
   
    width: 15px;
    height: 15px;
}

.submit-button {
    background-color: @blue;
}

.add-button {
    @addButtonSide: 44px;
    
    .hidden-content;
    .background-image-wrapper(
            @addButtonSide,
            @addButtonSide,
            'addButton.png',
            transparent);

    display: block;
}

.login-button {
    .hidden-content;

    display: inline-block;
}

.facebook-login-button {
    .background-image-wrapper(
            158px,
            39px,
            'facebookLoginButton.png',
            transparent);
}

.main-header {
    .header-section;
    .background-image-wrapper(
            @innerWidth,
            @bigLineHeight,
            'mainHeaderRibbon.jpg',
            @blue);

    line-height: @bigLineHeight;
    height: @bigLineHeight;
    vertical-align: middle;
    
    color: @bluishWhite;
}

.numbered-list {
    .counter;
}

.numbered-list li:before {
    .counter-li;
}

.headed-list {
    width: 100%;
    float: left;
    /* border: 1px solid blue; */
}

.headed-list .list-header {
    text-transform: uppercase;
    margin-bottom: 0px;
}

.headed-list-item {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: @linePadding;
    height: @smallLineHeight - @linePadding;
}

.headed-list-item input {
    width: 100%;
    height: 100%;
}

.headed-list-item .list-column:first-child {
    float: left;
    width: 75%;
    text-align: left;
}

.headed-list-item .list-column:last-child {
    float: left;
    width: 20%;
    margin-left: @linePadding;
    text-align: left;
}


/***********************************************************
* ISCROLL
************************************************************/
#iscroll-wrapper {
    .page-border;
    
    position: absolute; 
    width: 100%;
    top: @headerHeight; 
    bottom: 0px; 
    left: 0px;
    z-index: 3;
    overflow: auto;

    border-bottom: 2px solid @black;
}

#content-container {
    position: absolute;
    width: 100%;
    z-index: 3;
}


/***********************************************************
* TAB
************************************************************/
#tab {
    /* for hiding address bar and pulling content above bottom navigation */
    position: absolute;
    width: 100%;
    height: 100%; 
    /* border: 0px solid #f00; */

    z-index: 1;
    
    color: @grayishWhite;
}

#content ol {
    border-top: 2px solid @beige;
}

#content li {
    padding: @linePadding @pagePadding;
    border-bottom: 2px solid @beige;
}

#tab .loading {
    padding: @linePadding @pagePadding;
}

/***********************************************************
* TAB HEADER
************************************************************/
#tab header {
    .page-border;

    /* drop shadow on to content pane */
    .drop-shadow-box;
    
    position: absolute; 
    z-index: 5;
    top: 0px; 
    left: 0px;
    width: 100%;
    height: @headerHeight;
}


.second-header {
    .header-section;
}


#tab nav ul {
    line-height: @smallLineHeight;
    height: @smallLineHeight;
 
    .columns(@numOfNavColumns);
} 

#tab nav li {
    height: @smallLineHeight;
    background-color: @lightOrange;
    color: @almostWhite;
}

#tab nav li a {
    color: @almostWhite;
}



/***********************************************************
* TAB FOOTER 
************************************************************/
#tab footer {
    position: absolute;
    bottom: 15px; 
    right: 15px;
    z-index: 5;
}


/***********************************************************
* TAB SECTION
************************************************************/
@navButtonWidth: 160px;
@navButtonHeight: 35px;

.navButton (@imageSource, @backgroundColor) {
    .hidden-content;
    .background-image-wrapper(
            @navButtonWidth,
            @navButtonHeight,
            @imageSource,
            @backgroundColor);
    display: block;
}


/***********************************************************
* GAMES TAB SECTION
************************************************************/
a.games.active-nav {
    .navButton('gamesPressed.jpg', @orange);
}

a.games {
    .navButton('gamesUnpressed.jpg', @orange);
}


/***********************************************************
* RANKINGS TAB SECTION
************************************************************/
a.rankings.active-nav {
    .navButton('rankingsPressed.jpg', @orange);
}

a.rankings {
    .navButton('rankingsUnpressed.jpg', @orange);
}


/***********************************************************
* DIALOG
************************************************************/
#dialog-container {
    position: absolute;
    height: 100%;
    z-index: 10;

    background-color: @darkGray;
    
}

.dialog {
    height: 100%;
    color: @white;
    display: table;

}

.dialog .close-button {
    position: absolute;
    right: @linePadding;
    top: @linePadding;
}

.dialog-content {
    height: 100%;
    padding: @pagePadding;

    text-align: center;
}

.submit-button-wrapper {
    position: absolute;
    bottom: @pagePadding;
    left: 0px;
    width: 100%;
}

/***********************************************************
* CREATE GAME DIALOG
************************************************************/



/***********************************************************
* GENERIC PAGE
************************************************************/
.login-button-wrapper {
    position: absolute;
    left: 0px;
    top: 220px;
    width: 100%;
}


/***********************************************************
* LANDING PAGE
************************************************************/
#landing {
    .background-image-wrapper(
           @screenWidth,
           @screenHeight,
           'splash.jpg',
           @black);

    position: absolute;
    text-align: center;
}


/***********************************************************
* AUTOCOMPLETE JQUERY PLUGIN COMPONENT
*
* .ui-autocomplete-input
* .ui-autocomplete, .ui-menu
* .ui-menu-item
*
************************************************************/
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    background-color: @darkGray;
    border: 2px solid @black;
}

.ui-menu-item a {
    width: 100%;
    display: inline-block;
    color: @white;
}


