/* Sqoreboard Mobile CSS */
@import "/static/css/mobile_reset.css";

/* Generic CSS */


.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 2.2em;
    /* text-overflow: clip; */
    white-space: normal;
    margin: 10px 0px 10px 0px;
    font-family: "Times New Roman", serif;
}

section {
    position:absolute; z-index:1;
    top:0px;  left:0;
    width:100%;
    overflow:auto;
}



footer {
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:65px;
    padding:0;
    margin: 0;
    text-align: center;
}
footer > nav {
    height: 63px;
}

/*.ui-page {
    height: 100% !important; 
    position:relative !important;
}

.ui-footer {
    bottom: 0; 
    position: absolute !important; 
    top: auto !important; 
    width: 100%;
}*/

/*header{
    position:absolute;
    z-index:2;
    top:0; left:0;
    width:100%;
    height:45px;
    background-color:#deb500;
    padding:0;
}
footer {
    position:absolute;
    z-index:2;
    bottom:0; left:0;
    width:100%;
    height:48px;
    background-color:#c27b00;
    padding:0;
    border-top:1px solid #444;
}*/


/* Sqoreboard
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-sq {
	border: 1px 0px 1px 0px solid 		#2A2A2A /*{a-bar-border}*/;
	background: 			            #111111 /*{a-bar-background-color}*/;
	color: 					            #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c /*{a-bar-background-start}*/), to( #111 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/);
}
.ui-bar-sq, 
.ui-bar-sq input, 
.ui-bar-sq select, 
.ui-bar-sq textarea, 
.ui-bar-sq button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-sq .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}

.ui-bar-sq .ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-sq .ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-sq .ui-link:active {
	color: #2489CE /*{a-bar-link-sqctive}*/;
}

.ui-bar-sq .ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-body-sq,
.ui-dialog.ui-overlay-sq {
	border: 1px solid 		#2A2A2A /*{a-body-border}*/;
	background: 			#222222 /*{a-body-background-color}*/;
	color: 					#fff /*{a-body-color}*/;
	 text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #000 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #666 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);	
}
.ui-body-sq,
.ui-body-sq input,
.ui-body-sq select,
.ui-body-sq textarea,
.ui-body-sq button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-sq .ui-link-inherit {
	color: 	#fff /*{a-body-color}*/;
}

.ui-body-sq .ui-link {
	color: #2489CE /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-sq .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-sq .ui-link:active {
	color: #2489CE /*{a-body-link-sqctive}*/;
}

.ui-body-sq .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

.ui-btn-up-sq {
	border: 1px 0px 1px 0px solid 		#222 /*{a-bup-border}*/;
	background: 			#333333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555 /*{a-bup-background-start}*/), to( #333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/);
}
.ui-btn-up-sq a.ui-link-inherit {
	color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-sq {
	border: 1px 0px 1px 0px solid 		#000 /*{a-bhover-border}*/;
	background: 			#444444 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ -1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #000 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #666 /*{a-bhover-background-start}*/), to( #444 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-sq a.ui-link-inherit {
	color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-sq {
	border: 1px 0px 1px 0px solid 		#000 /*{a-bdown-border}*/;
	background: 			#3d3d3d /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ -1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #000 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #333 /*{a-bdown-background-start}*/), to( #5a5a5a /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/);
}
.ui-btn-down-sq a.ui-link-inherit {
	color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-sq,
.ui-btn-hover-sq,
.ui-btn-down-sq {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


