<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <title>SQOREBOARD</title>
    <link 
        rel="stylesheet" 
        href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" 
        type="text/css"
        media="screen,mobile" 
        charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="/static/css/mobile.css" 
        type="text/css"
        media="screen,mobile" 
        charset="utf-8" />


</head>
<body>
<div data-role="page" id="rankings">

    <header data-role="header" data-id="app-page" data-position="fixed" data-theme="sq-header" >
        <h1>SQOREBOARD</h1>
        <nav data-role="navbar">
            <ul>
                <li><a href="#create" data-rel="dialog" >create</a></li>
                <li><a href="test2">
                    test2
                </a></li>
            </ul>
        </nav>
    </header>

    <section data-role="content" data-theme="sq-content">
        <ul data-role="listview">
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
            <li>Evan H</li>
        </ul> 
    </section>
    <!-- no footer -->

</div> <!-- end page rankings -->

<div data-role="page" id="create">
    <header data-role="header">
        <h1>SQOREBOARD</h1>
    </header>

    <section data-role="content">
        create a game!
    </section>
</div>


    <script 
            type="text/javascript" 
            src="http://code.jquery.com/jquery-1.7.1.min.js"></script>        
    <script 
            type="text/javascript" 
            src="http://code.jquery.com/mobile/latest/jquery.mobile.js">
    </script>
    <!-- <script 
            type="text/javascript"
            src="/static/js/vendor/iscroll.js"> -->
    </script>
    <script type="text/javascript" src="/static/js/test.js"></script>        

</body>
</html>

