<div data-role="page" id="happiness">
    <header data-role="header" data-id="app-page" data-theme="sq-header"
        data-position="fixed">
        <h1>newer</h1>
        <nav data-role="navbar">
            <ul>
                <li><a href="#create" data-rel="dialog" >create</a></li>
                <li><a href="test2">
                    test2
                </a></li>
            </ul>
        </nav>
    </header>
    <section data-role="content" data-theme="sq-content">
        cool runnings
        <a data-rel="back">back</a>
    </section>
</div>
