{% extends ../base.html %}   


{% block meta_header %}
    <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
{% end %}


{% block link_header %}
    <link 
        rel="stylesheet" 
        href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" 
        type="text/css"
        media="screen,mobile" 
        charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="/static/css/mobile.css" 
        type="text/css"
        media="screen,mobile" 
        charset="utf-8" />
{% end %}


{% block body %}Must include Body.{% end %}


{% block script %}
    <!-- Scripts Section -->
    <script 
            type="text/javascript" 
            src="http://code.jquery.com/jquery-1.7.1.min.js"></script>        
    <script 
            type="text/javascript" 
            src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js">
    </script>
    <script 
            type="text/javascript"
            src="/static/js/vendor/iscroll.js">
    </script>
    <script type="text/javascript" src="/static/js/mobile.js"></script>        
{% end %}
