{% extends ../base.html %}   


{% block meta %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0,
        minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
{% end %}


{% block title %}
    <title>SQOREBOARD</title>
{% end %}


{% block link %}
    <link 
        rel="stylesheet"
        href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css"
        type="text/css"
        media="screen,mobile"
        charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="/static/css/mobile.css" 
        type="text/css"
        media="screen,mobile" 
        charset="utf-8" />
{% end %}
