{% extends body.html %}


{% block header %}
    <header>
        <hgroup>
            {# {% module AppHeaderView("SQOREBOARD") %} #}
            {% block context_header %} EMPTY CONTEXT HEADER {% end %} 
            {% module NavHeaderView() %}
        </hgroup>
    </header>
{% end %}


{% block content %}
    <section id="content">
        <div id="iscroll_wrapper">
            {% block context_content %} EMPTY CONTEXT CONTENT {% end %} 
        </div>
    </section>
{% end %}


{% block footer %}
    <!-- <footer></footer> -->
{% end %}
