{% extends body.html %}


{% block header_section %}
    <header>
        <hgroup>
            {# {% module AppHeaderView("SQOREBOARD") %} #}
            {% block context_header %} EMPTY CONTEXT HEADER {% end %} 
            {% module NavHeaderView() %}
        </hgroup>
    </header>
{% end %}


{% block content_section %}
    <div id="iscroll_wrapper">
        <section id="content">
            {% block content %} EMPTY CONTEXT CONTENT {% end %} 
        </section>
    </div>
{% end %}


{% block footer_section %}
    <!-- <footer></footer> -->
{% end %}
