{% extends base.html %}


{% block body %}
    <div data-role="page" id="splash">
        <div data-role="content" data-theme="sq-content">
            <h1>SPLASH!</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Welcome to Sqoreboard. Our awesome engineers designed this site.</h2>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            I know, I'm impressed too. 
        </div>
    </div>
{% end %}

