{% extends body.html %}


{% block header_section %}
    <header>
        <hgroup>
            {% block tab_header %}
                {% include components/tab_header.html %}
            {% end %} 
            {% block context_model %}
                {% include components/context_model.html %}
            {% end %} 
            {% block session %}
                {% include components/session_model.html %}
            {% end %}
            {% block nav_header %} EMPTY NAV HEADER {% end %}
        </hgroup>
    </header>
{% end %}


{% block content_section %}
    <div id="iscroll-wrapper">
        <div id="content-container">
            {% block content %} EMPTY CONTENT HEADER{% end %} 
            {% block content_model %} EMPTY CONTENT MODEL{% end %} 
        </div>
    </div>
{% end %}


{% block footer_section %}
    {% module UIAppFooter() %}
{% end %}
