{% extends body.html %}


{% block header_section %}
    <header>
        <hgroup>
            {# {% module AppHeaderView("SQOREBOARD") %} #}
            {% block context_header %} EMPTY CONTEXT HEADER {% end %} 
            {% block nav_header %} EMPTY NAV HEADER {% end %}
        </hgroup>
    </header>
{% end %}


{% block content_section %}
    <div id="iscroll-wrapper">
        <div id="content-container">
            {% block content %} EMPTY CONTEXT CONTENT {% end %} 
        </div>
    </div>
{% end %}


{% block footer_section %}
    {% module UIAppFooter() %}
{% end %}
