{# Generic Content List #}
{# Required: listed_entries, sort_field, marked_up_fields, numbered #}

{% from view.constants import TEMPLATE %}
{% from view.templates import util %}

{# Determine ordered or unordered list from parameters. #}
{% set list_start = "<ul" %}
{% set list_end = "</ul>" %}
{% set list_start_static = " data-role=\"listview\" data-theme=\"sq-content\" >" %} 
{% if numbered %}
    {% set list_start = "<ol" %}
    {% set list_end = "</ol>" %}
{% end %}

{# Create list entries #}
{% set list_start = list_start + list_start_static %}
{% raw list_start %}
{# each row is another entry in listed_entries #}
{% for entry in primary_entries %}
    <li>

        {# each primary field with mark up #}
        {% for p_field in primary_fields %}
            {% raw util.generate_tag(
                    p_field[TEMPLATE.START_TAG],
                    entry,
                    p_field[TEMPLATE.DISPLAY_PROPERTY],
                    p_field[TEMPLATE.END_TAG]) %}
        {% end %}

        {# each seconday entry and field #}
        {% for s_elem in secondary_entries.get(entry.id, []) %}
            {% for s_field in secondary_fields %}
            {% raw util.generate_tag(
                        s_field[TEMPLATE.START_TAG],
                        s_elem,
                        s_field[TEMPLATE.DISPLAY_PROPERTY],
                        s_field[TEMPLATE.END_TAG]) %}
            {% end %}
        {% end %}

    </li>
{% end %}
{% raw list_end %}
