<html>
    <head>
        <title>Hammer's Facebook Test</title>
        <script type="text/javascript" src="/static/js/facebook_auth.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>

        Hi world
        <!-- <fb:login-button
            registration-url="https://developers.facebook.com/docs/plugins/registration"
            on-login="console.log(arguments)"
            /> -->
        <div 
            class="fb-registration" 
            data-fields="[
                {'name':'name'},
                {'name':'email'},
                {'name':'heads_or_tails',
                    'description': 'Heads or Tails?',
                    'type':'text'
                }]" 
            data-redirect-uri="http://hammer.sqoreboard.com/rankings">
        </div> 

        <!-- <div class="fb-login-button" scope="email,user_interests">
            Login with Facebook
        </div> -->

        <!-- <div id="login">
            <p><button onClick="loginUser();">Login</button></p>
        </div>
        <div id="logout">
            <p><button  onClick="FB.logout();">Logout</button></p>
        </div> -->

    </body>
</html>
